<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Your Health, Our Responsibility</h3>
                <h1>BV PHYSIOTHERAPY AND PERSONAL TRAINING</h1>
                <h5>Located at 44 Flinders Parade, North Lakes</h5>
                <h5>Gym based rehab for DVA, Work Cover, Medicare and Private Health.</h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/cover.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
